<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Donor-UITS-Blood-Bank</title>
        <link rel="stylesheet" href="./stylesheets/toastify.css" />
        <link rel="stylesheet" href="./stylesheets/style.css" />
        <script src="./js/toastify.js"></script>
        <script src="./js/moment.js"></script>
    </head>
    <body>
        <div class="menu">
            <div class="menu-item"><a href="/users">Users</a></div>
            <div class="menu-item"><a href="/donors">Donors</a></div>
            <div class="menu-item">
                <a href="#" onclick="logout()">Logout</a>
            </div>
        </div>
        <div class="manageUser-container">
            <div id="title">
                <h2>Manage Donors</h2>
            </div>
            <div>
                <form method="post" action="/search" id="search-blood-type">
                    <label class="search_blood" for="bloodType"
                        >Choose a blood type:</label
                    >
                    <select name="bloodType" id="bloodType">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="O">O</option>
                        <option value="AB">AB</option>
                    </select>
                    <label class="search_blood" for="rhFactor"
                        >Choose a RH factor:</label
                    >
                    <select name="rhFactor" id="rhFactor">
                        <option value="+">Positive</option>
                        <option value="-">Negative</option>
                    </select>
                    <br /><br />
                    <input
                        id="search-blood-button"
                        type="submit"
                        value="Search Donor"
                    />
                </form>
            </div>
            <div class="new-message-container new-user">
                <a href="#" onclick="openModal()">+</a>
            </div>

            <div id="donors-table">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Blood type</th>
                            <th>Manage</th>
                        </tr>
                    </thead>
                    <tbody id="donors-table">
                        <% donors.forEach(function(donor) { %>
                        <tr id="<%= donor._id %>">
                            <td class="name"><%= donor.name %></td>
                            <td><%= donor.mobile %></td>
                            <% let bloodType = donor.bloodType + donor.rhFactor;
                            %>
                            <td><%= bloodType %></td>
                            <td class="manage">
                                <img
                                    src="./images/trash.png"
                                    alt="Delete"
                                    onclick="deleteDonor('<%= donor._id %>')"
                                />
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <%- include('./partials/add-donor-modal.ejs'); %>
        <script>
            // toast
            const logoutToast = Toastify({
                text: "You are being logged out...",
                duration: 1000,
            });

            function logout() {
                fetch("/", {
                    method: "DELETE",
                });
                logoutToast.showToast();
                setTimeout(() => {
                    window.location.replace("/");
                }, 1000);
            }

            const deleteToast = Toastify({
                text: "donor was deleted successfully!",
                duration: 3000,
            });

            const deleteErrorToast = Toastify({
                text: "Could not delete the donor!",
                duration: 3000,
            });

            async function deleteDonor(donorId) {
                let response = await fetch(`/donors/${donorId}`, {
                    method: "DELETE",
                });

                let result = await response.json();

                if (result.errors) {
                    deleteErrorToast.showToast();
                } else {
                    deleteToast.showToast();
                    document.getElementById(donorId).remove();
                }
            }
        </script>
    </body>
</html>
